.App {
  padding-left: 0;
  padding-right: 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App.container {
  padding-left: 0;
  padding-right: 0;
}

.App-body {
  text-align: left;
}

.App-body.container {
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
}

.Login-Signup.container {
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
}

.Login,
.Signup{
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.Login .form-control,
.Signup .form-control{
	background-color: #282c341f;
}

.Consignments.container,
.Containers.container {
  padding-left: 0;
  padding-right: 0;
  margin-top: 10px;
  margin-left: 0;
  margin-right: 0;
}

.Containers.container .table {
  background-color: #0597ae14;;
  margin-bottom: 0;
}

.Consignment-list.container{
  margin-top: 10px;  
}

.Consignment-list.container,
.Consignment-list.container .card-body {
  padding-left: .3rem;
  padding-right: .3rem;
  padding-bottom: .3rem;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
